// Colors
$primary-color: #E83969;
$font-color: #1b0d5e;
$border-color: #0000001a;
$border-color-inp: #e5e5e5;

// Fonts
$font-family: 'Montserrat', 'Arial', sans-serif;
$font-size: 14px;

// Height
$sticky-header-height: 64px;